@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alfa+Slab+One&family=Rokkitt:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

header {
    max-width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    left:0;
    top: 0;
    right: 0;
    color: black;
    padding: 1rem;
    background-color: white;
}

body {
    font-size: 1.5rem;
    line-height: 1.2em;
}
.container{
    display:flex;
    width: 100%;
    margin: 0 auto;
    top: 0;
}
#balanza {
    width: 100%;
    height: 100%;
    font-size: 150%;
    flex:60%;
    background-color: rgb(188, 133, 241);
}

.nav{
    flex: 40%;
    align-items: center;
    justify-content: left;
    font-size: 1.2rem;
    margin-left: 40%;
    flex-direction: left;
}
.logo-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 80%;
}
.nav ul li {
    display:inline-block;
}
.nav ul li a {
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-end;
    justify-content: flex-end;
}
.nav ul li a:hover {
    background: #ccc;
    transition: background-color 0.2s linear;
}
.active {
    background-color: aqua;
}
main {
    max-width: 100%;
    margin: auto;
    font-family: 'Berkshire Swash';
    text-align: center;
    font-size: 100%;
}
h1 {
    font-size: 150%;
    line-height: 1.4em;
    margin-top: 0;
}
h2 {
    font-size: 120%;
    line-height: 1.3em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#h2{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
#joto {
    width: 100%;
    max-width: 30rem;
    border-radius: 50%;
    padding-top: 8rem;
    padding: 0.5rem;
    margin: 1rem;
    margin-top: 4%;
}

.desarrollo {
    max-width: 100%;
    font-family: 'Alata', sans-serif;
    line-height: 1.5;
    font-weight: 100%;
    letter-spacing: 0.5;
    font-size: 80%;
    padding: 2rem;
    margin-right: 2rem;
    text-align: justify;
     }
#about {
    margin: 0.5rem;
    margin-bottom: 0;
    padding-top: 3rem;
    }
.btn{
    display:flex;
    align-items:flex-end;
    justify-items:center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem; 
}
#CV, #mas, #modo{
    box-sizing:content-box;
    background-color: rgb(253, 252, 254);
    width: 20%;
    height: 20%;
    border-radius: 0.32rem;
    font-size: 80%;
    color:black;
    justify-content:end;
}
a {
    text-decoration: none;
    color:inherit;
    }    
#CV:hover {
    background-color: rgb(0, 153, 255);
}
#contact {
    max-width: 150%;
    text-align: justify;
    line-height: 1;
    font-size: 100%;
    padding: 1rem;
    background-color: rgb(188, 133, 241);
}

.sobremi {
    max-width: 100%;
    font-family: 'Calibri', sans-serif;
    line-height: 1.5;
    font-weight: 100%;
    letter-spacing: 1;
    font-size: 80%;
    padding: 1rem;
    text-align: justify;
    margin: 1rem
}

#icono{
    box-sizing:content-box;
    width: 30%;
    max-width: 100%;
    height: 30%;
    margin: 1.8rem;
    padding: 0rem;
    display: inline-block;
    flex-direction:column;
    padding-inline-start: 0;
    align-items: center;
    justify-content: center;
}
#memes {
    list-style: none;
    margin: 0;
    padding: 0;
}
#memes li {
    display: inline-block;
    width: 20%;
    margin-right: 0;
}
#memes li:last-child{
    margin-right: 0;
}

footer{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1rem;
}

@media screen and (max-width: 980px){
    header {
        max-width: 100%;
    }
}
@media screen and (max-width: 980px){
    #balanza {
        width: 30%;
    }
}
@media screen and (max-width: 980px){
    #icono {
        width: 50%;}
}
@media screen and (max-width: 980px){
        .btn{
            max-width: 100%;
            width: 50%;
            margin-left: 32%;
            font-size: 50%; 
    }
 }
/* mobile */
section {
    display: flex;
    flex-direction: column;
   }
   /* tablet */
   @media (min-width: 768px) {
    p {
    font-size: 18px;
    }
   }
   /* desktop */
   @media (min-width: 1024px) {
    #about {
       display: column;
       flex-direction:row;
    }
    span {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        }
   .btn{
        max-width: 100%;
        margin-left: 32%;
        font-size: 100%;
    }
    .container logo-nav-container{
        flex: 100%;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    #contact {
        display: flex;
        flex-direction: column;
        flex: 100%;
        margin-left:12rem;
        margin-right: 12rem;
    }
}
